
body{
    background:#d2dae2;
    width:100%;
}

table{
    width:90%;
    border:2px solid;
    margin:5%;
    text-align:center;
    table-layout: fixed;
}

h2{
    text-align: center;
}

th{
    border:1px solid;
}

td{
    border:1px solid;
}

img{ width:60%}